body{
    /*background-color: #a2a2a2;*/
    background-image: url("./Abony/ hatter.jpg");
    background-position: center top; 
    margin: 0;
}
/*Próba,hátha látszik.*/
div {
    width: 1050px;
    margin: 0px auto;
    background-color: #ffffff;
    padding-bottom: 20px;
}

#menusor {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0 0 1em 0;
    list-style-type: none;
    background-color: rgb(0, 53, 16);
}
#menusor li { display:in }
#menusor a {
  float:left;
  padding: 0.25em 1em;
  margin: 0.25em 0 0.25em 1em;
  color: #DDD;
  text-decoration: none;
}
#menusor a:hover { background-color:#333}

p#bekezdes1 {
    clear:left;
}


p#bekezdes2 {
    clear: left;
    padding: 10px;
    color: #FF0E00;
    font-size: x-large;
    font-weight: bold;
    background-color: #EEE;
}
p#bekezdes2 span {
    color: #C0C0C0;
}

p.bekezdes3 {
    color: #C0C0C0;
}

a#gomb {
    color: #5C74C8;
    padding: 3px 5px 1px 25px;
    background: url("gombok.png") no-repeat 6px 6px #ECEEF5;
    border: 1px solid #CAD4E7;
    border-radius: 5px;
    text-decoration: none;
}

h2, p {
    margin-left: 20px;
}